/* Header Container */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    margin: 20px;
    position: relative;
}


/* Title */

.dashboard-title {
    font-size: 28px;
    font-weight: 700;
    color: #1e1e1e;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


/* Right Side (Account Info Only) */

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Account Info */

.account-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 1.2;
}

.account-name {
    font-weight: 600;
    color: #222;
    font-size: 15px;
}

.account-role {
    font-size: 13px;
    color: #666;
}

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 24px;
    color: #08518C;
}

@media (max-width: 900px) {
    .burger-btn {
        display: block;
    }
}