.laundry-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    background: #87b5d5;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
}

.laundry-card * {
    all: revert;
}

.laundry-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.laundry-card button {
    margin-top: 10px;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.small-card-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.laundry-name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

.laundry-price {
    font-size: 17px;
    font-weight: bold;
    margin-top: 3px;
}

.laundry-unit {
    font-size: 10px;
    opacity: 0.7;
}